body {
    background-color: #008000;
    color: #9affff;
    font-family: Tahoma, Rockwell, sans-serif;
    background-image: linear-gradient(to bottom, #F5C461, #A34F00);
    box-shadow: inset 6px 6px 6px #333300;
    margin-left: 20px;
    margin-right: 20px;
}

#srl {
    color: #FFF8DC;
}

main {
    width: 80%;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-style: groove;
    border-width: 4px;
}

.classy {
    color: #800033;
}

h1 {
    color: #ff0000;
    background-color: #853F20;
    opacity: 8;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: groove;
    border-width: .05em;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}

h1,
h3,
h4 {
    font-family: Papyrus, Rockwell, sans-serif;
    margin-top: 2em;
}

h3 {
    text-transform: uppercase;
    background-image: url(images/creamshoes.jpg);
    background-clip: content-box;
    background-repeat: no-repeat;
    background-origin: content-box;
    text-shadow: 2px 2px 2px #333300;
}

ul {
    list-style-type: circle;
}

p a:link {
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}

div {
    background-image: url(images/redstill2.JPG);
    background-position: left;
    background-repeat: repeat-x;
}

footer {
    font-style: italic;
    font-size: .75em;
}